<div class="container">
    
<form action="/admin/new-car" method="POST">
    <legend>Add car</legend>

    <div class="form-group">
        <label for="brand">Brand: </label>
        <input type="text" class="form-control" id="brand" name="brand">

        <label for="model">Model: </label>
        <input type="text" class="form-control" id="model" name="model" >

        <label for="price">Price:</label>
        <input type="text" class="form-control" id="price" name="price" >   

    </div>

    

    <button type="submit" class="btn btn-primary">Add</button>
</form>

</div>