<header class="mb-3">

    <ul class="nav justify-content-end">

        <li class="nav-item">
            <div class="dropdown show">
                <a class="btn btn-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/admin/add-car">Add Car</a>
                    <a class="dropdown-item" href="/admin/all-cars">All cars</a>
                    <a class="dropdown-item" href="/admin/all-forms">All forms</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Log out</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown show">
                <a class="btn btn-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Perfile
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/insurence">My insurence</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Log out</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/signin">Sign In</a>
        </li>

    </ul>

    <nav>

        <div class="logo">
            <a href="/">
                <img src="/img/logowhite.png" alt="">
            </a>
        </div>
        <div class="burguer">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/insurance">Car insurence</a>

            </li>
            <li>
                <a href="/about">About us</a>

            </li>
            <li>
                <a href="/contact">Contact us</a>

            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
        </ul>

    </nav>
</header>